.hero.welcome.is-info {
  background: #26363F;
  background: -webkit-linear-gradient(to right, #26363F, #54636F);
  background: linear-gradient(to right, #26363F, #54636F);
}

.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}

.has-text-totalviews {
  color: #1DD7B2;
}

.has-text-uniquevisitors {
  color: #E86F4A;
}

.has-text-countries {
  color: #59709B;
}

.has-text-pageviews {
  color: #00Badd;
}
