<!-- Begin Header -->
<div class="header-wrapper" id="home">
  <!-- Begin Hero -->
  <section class="hero is-medium"
           style="background: url(assets/pattern.jpeg) repeat-x; background-size: auto;">
    <!-- End Mobile Nav -->
    <!-- Begin Hero Content-->
    <div class="hero-body">
      <div class="container has-text-centered">
        <!--        <h1 class="subtitle">Análisis Económico y Financiero</h1>-->
        <h2 class="title">Trackbia</h2>
        <h1 class="subtitle profession">QR Code generation and tracking</h1>
      </div>
    </div>
  </section>
  <!-- End Hero -->
</div>
<!-- End Header -->

<!-- Begin Main Content -->
<div class="main-content">
  <!-- Begin About Me Section -->
  <div class="section-light about-me" id="about-me">
    <div class="container">
      <div class="column is-12 about-me">
        <h1 class="title has-text-centered section-title">Platform Overview</h1>
      </div>
      <div class="columns is-multiline">
        <div
          class="column is-6 has-vertically-aligned-content"
          data-aos="fade-right"
        >
          <p class="is-larger">
            &emsp;&emsp;<strong
          >
            Trackbia is an application for creating smart and traceable QR codes.
            The system allows a user to generate unique codes, download them, and obtain information on each page visit.
          </strong
          >
          </p>
          <br/>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur.
          </p>
          <br/>
          <div class="is-divider"></div>
          <div class="columns about-links">
            <div class="column">
              <p class="heading">
                <strong>Webpage URL</strong>
              </p>
              <p class="subheading">
                <a href="https://trackbia.arkandas.com/">trackbia.arkandas.com</a>
              </p>
            </div>
            <div class="column">
              <p class="heading">
                <strong>Backend URL</strong>
              </p>
              <p class="subheading">
                <a href="https://apitrackbia.arkandas.com/swagger-ui.html">apitrackbia.arkandas.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="column is-6 right-image " data-aos="fade-left">
          <img
            class="is-rounded"
            src="assets/business.jpeg"
            alt="business"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- End About Me Content -->
  <!-- Begin Services Content -->
  <div class="section-color services" id="services">
    <div class="container">
      <div class="columns is-multiline">
        <div
          class="column is-12 about-me"
          data-aos="fade-in"
          data-aos-easing="linear"
        >
          <h1 class="title has-text-centered section-title">About the platform</h1>
          <h2 class="subtitle has-text-centered">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod:
          </h2>
          <br/>
        </div>
        <div class="columns is-12">
          <div
            class="column is-3 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <fa-icon [icon]="faTechnology" size="4x"></fa-icon>
            <hr/>
            <h2>
              "Sed ut perspiciatis unde omnis iste natus voluptatem"
            </h2>
          </div>
          <div
            class="column is-3 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <fa-icon [icon]="faBusiness" size="4x"></fa-icon>
            <hr/>
            <h2>
              “At vero eos et accusamus et iusto odio dignissimos ducimu”
            </h2>
          </div>
          <div
            class="column is-3 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <fa-icon [icon]="faMarketing" size="4x"></fa-icon>
            <hr/>
            <h2>
              “Laborum et dolorum fuga”
            </h2>
          </div>
          <div
            class="column is-3 has-text-centered"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <fa-icon [icon]="faEnvironment" size="4x"></fa-icon>
            <hr/>
            <h2>
              “Et quas molestias excepturi sint occaecati cupiditate”
            </h2>
          </div>
        </div>
        <hr/>

      </div>
    </div>
  </div>
  <!-- End Services Content -->
  <div class="section-dark">
    <div class="container">
      <div
        class="columns is-multiline"
        data-aos="fade-in"
        data-aos-easing="linear"
      >
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">
            Register an account
          </h1>
        </div>
        <div class="column is-10 has-text-centered is-offset-1">
          <h2 class="subtitle">
            Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
            consequatur aut perferendis doloribus asperiores repellat!
          </h2>
          <a href="https://trackbia.arkandas.com/register">
            <button class="button">
              <span>Register now</span>
              <span class="icon ">
              <fa-icon [icon]="faSpaceShip"></fa-icon>
            </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- Begin Work Content -->
  <div class="section-dark my-work" id="my-work">
    <div class="container">
      <div
        class="columns is-multiline"
        data-aos="fade-in"
        data-aos-easing="linear"
      >
        <div class="column is-12">
          <h1 class="title has-text-centered section-title" style="color: #D4DFEB">Screenshots</h1>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/1.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/2.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/3.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/4.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/5.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/6.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/7.png');"
            ></figure>
          </a>
        </div>
        <div class="column is-3">
          <a href="#">
            <figure
              class="image is-2by1 work-item"
              style="background-image: url('assets/images/8.png');"
            ></figure>
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- End Work Content -->
</div>
<!-- End Main Content -->

<!-- Begin Footer -->
<div class="footer">
  <p>
    Copyright © 2022 - All Rights Reserved
  </p>
</div>
<!-- End Footer -->
